<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>

      <% if user_signed_in? && link.user.id == current_user.id -%>
      
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by me</small>

      <% else %>
      
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.email %></small>

      <% end %>
    </h2>    
  </div>
<% end %>